<!DOCTYPE html>
<html>

<head>
  <title>Random Quote Generator</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <h1>Random Quote Generator</h1>
  <blockquote>
    <p id="quote-text">
      <%= quote.text %>
    </p>
    <footer id="quote-author">- <%= quote.author %>
    </footer>
  </blockquote>
  <button id="new-quote-button">New Quote</button>

  <script src="/js/bundle.js"></script>

</body>

</html>