<!DOCTYPE html>
<html>
<head>
  <title>Random Quote Generator</title>
  <!-- Add your CSS file here -->
</head>
<body>
  <h1>Random Quote Generator</h1>
  <blockquote>
    <%= quote.text %>
    <footer>- <%= quote.author %></footer>
  </blockquote>
</body>
</html>
